<!-- templates/account/login.html -->
{% extends "_base.html" %}

{% load static %}

{% load i18n %}

{% block title %}
Add Product
{% endblock title %}

{% block content %}
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static 'img/bg/breadcrumb.jpg' %})">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Add New Product</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li> add product </li>
            </ul>
        </div>
    </div>
</div>
<!-- login-area start -->
<div class="register-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ forms.product.as_p  }}
                                {{ forms.album.as_p }}
                                {% comment %} <input type="file" name="images" multiple> {% endcomment %}
                                <div class="button-box">
                                    <button type="submit" class="default-btn floatright">Add Product</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}