<!-- templates/account/login.html -->
{% extends "_base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
Edit Product {{product.title}}
{% endblock title %}

{% block content %}
<div class="breadcrumb-area pt-205 pb-210" style="background-image: url({% static 'img/bg/breadcrumb.jpg' %})">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Edit {{product.title}}</h2>
            <ul>
                <li><a href="#">home</a></li>
                <li> Edit product </li>
            </ul>
        </div>
    </div>
</div>
<!-- login-area start -->
<div class="register-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-form">
                            <form action="#" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {{album_form.as_p}}
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                                <div class="button-box">
                                    <button type="submit" class="default-btn floatright">Update Product</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}