<!-- templates/home.html -->
{% extends "_base.html" %}

{% load static %}
{% block title %}
Home
{% endblock title %}

{% block content %}

<div class="slider-area">
    <div class="slider-active owl-carousel">
        <div class="single-slider single-slider-hm1 bg-img ptb-260"
            style="background-image: url({% static 'img/slider/1.jpg' %})">
            <div class="container">
                <div class="slider-content slider-content-style-1 slider-animated-1">
                    <h3 class="animated">New Collection <span>2020.</span></h3>
                    <h2 class="animated">Amazing Product</h2>
                    <p class="animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius
                        tempor incididunt ut labore et dolore </p>
                    <a class="btn-hover slider-btn-style animated" href="shop-grid-view-sidebar.html">shop
                        now</a>
                </div>
            </div>
        </div>
        <div class="single-slider single-slider-hm1 bg-img slider-content-style-1 ptb-260"
            style="background-image: url({% static 'img/slider/8.jpg' %})">
            <div class="container">
                <div class="slider-content slider-content-style-1 slider-animated-2 slider-text-right">
                    <h3 class="animated">New Fashion <span>2020.</span></h3>
                    <h2 class="animated">Awesome Product</h2>
                    <div class="slide-right-pera">
                        <p class="animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eius tempor incididunt ut labore et dolore </p>
                    </div>
                    <a class="btn-hover slider-btn-style animated" href="shop-grid-view-sidebar.html">shop
                        now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area pb-100">
    <div class="container">
        <div class="section-title text-center mb-35">
            <h2>Featured Products</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page
                when look</p>
        </div>
        <div class="tab-content jump">
            <div class="tab-pane active show fade" id="home1" role="tabpanel">
                <div class="row">
                    <div class="product-slider-active owl-carousel">
                        {% for product in featured_products  %}
                        <div class="col-md-3 col-lg-3 col-sm-4">
                            <div class="single-product">
                                <div class="product-img">
                                    {% with product.album.default.image as src %}
                                    <a href="{{product.get_absolute_url}}"><img src="/{{ src }}" alt=""></a>
                                    {% endwith %}
                                    <div class="product-action">
                                        <a title="Quick View" data-toggle="modal"
                                            data-target="#product{{forloop.counter}}" class="animate-right" href="#"><i
                                                class="ion-ios-eye-outline"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="product-title-price">
                                        <div class="product-title">
                                            <h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
                                        </div>
                                        <div class="product-price">
                                            <span>${{product.price}}</span>
                                        </div>
                                    </div>
                                    <div class="product-cart-categori">
                                        <div class="product-cart">
                                            <span>{{product.category.all|join:', '}}</span>
                                        </div>
                                        <div class="product-categori">
                                            <form id="add-to-cart-form" action="{% url "cart:cart_add" product.id %}"
                                                method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="{{ cart_add_form.quantity.name }}"
                                                    value="1" />
                                                {{ cart_add_form.update }}
                                                <a
                                                    href="javascript:document.getElementById('add-to-cart-form').submit();"><i
                                                        class="ion-bag"></i> Add to cart</a>
                                                <noscript>
                                                    <input type="submit" value="ADD TO CART" />
                                                </noscript>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-limited-area bg-img pt-90 pb-100 mt-100"
            style="background-image: url({% static 'img/banner/4.jpg' %})" data-overlay="3">
            <div class="container">
                <div class="shop-limited-content text-center">
                    <h2>Shop Limited Edition.</h2>
                    <a class="btn-hover limited-btn" href="{% url 'products:product_list' %}">view more</a>
                </div>
            </div>
        </div>
        <div class="product-collection-area pt-100 pb-50">
            <div class="container">
                <div class="section-title text-center mb-55">
                    <h2>New Collection</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when look</p>
                </div>
                <div class="row">
                    {% for product in latest_products %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product mb-35">
                            <div class="product-img">
                                {% with product.album.default.image as src %}
                                <a href="{{product.get_absolute_url}}"><img src="/{{ src }}" alt=""></a>
                                {% endwith %}
                                <span>sale</span>
                                <div class="product-action">
                                    <a title="Quick View" data-toggle="modal" data-target="#product{{forloop.counter}}"
                                        class="animate-right" href="#"><i class="ion-ios-eye-outline"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-title-price">
                                    <div class="product-title">
                                        <h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
                                    </div>
                                    <div class="product-price">
                                        <span>{{product.price}}</span>
                                    </div>
                                </div>
                                <div class="product-cart-categori">
                                    <div class="product-cart">
                                        <span>{{product.category.all|join:', '}}</span>
                                    </div>
                                    <div class="product-categori">
                                        <form id="add-to-cart-form" action="{% url "cart:cart_add" product.id %}"
                                            method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="{{ cart_add_form.quantity.name }}" value="1" />
                                            {{ cart_add_form.update }}
                                            <a href="javascript:document.getElementById('add-to-cart-form').submit();"><i
                                                    class="ion-bag"></i> Add to cart</a>
                                            <noscript>
                                                <input type="submit" value="ADD TO CART" />
                                            </noscript>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block modal %}
<!-- modal -->
{% for product in featured_products %}
<div class="modal fade" id="product{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="ion-android-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="qwick-view-left">
                    <div class="quick-view-learg-img">
                        <div class="quick-view-tab-content tab-content">
                            {% for image in product.album.images.all %}
                            {% if forloop.counter == 1 %}
                            <div class="tab-pane active show fade" id="modal{{forloop.counter}}" role="tabpanel">
                                <img style="width:320;height:380;" src="/{{product.album.default.image }}" alt="">
                            </div>
                            {% else %}
                            <div class="tab-pane fade" id="modal{{forloop.counter}}" role="tabpanel">
                                <img style="width:320;height:380;" src="/{{ image.image }}" alt="">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="quick-view-list nav" role="tablist">
                        {% for image in product.album.images.all %}
                        {% if forloop.counter == 1 %}
                        <a class="active" href="#modal{{forloop.counter}}" data-toggle="tab" role="tab"
                            aria-selected="true" aria-controls="home1">
                            <img style="width:100;height:100;" src="/{{ product.album.default.image }}" alt="">
                        </a>
                        {% else %}
                        <a href="#modal{{forloop.counter}}" data-toggle="tab" role="tab" aria-selected="false"
                            aria-controls="home2">
                            <img style="width:100;height:100;" src="/{{ image.image }}" alt="">
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="qwick-view-right">
                    <div class="qwick-view-content">
                        <h3>{{product.title}}</h3>
                        <div class="price">
                            <span class="new">{{product.price}} </span>
                        </div>
                        <p>{{product.desc}}</p>
                        <form id="add-to-cart-form-modal" action="{% url "cart:cart_add" product.id %}" method="post">
                            <div class="quickview-plus-minus">
                                <div class="cart-plus-minus">
                                    {{cart_add_form}}
                                </div>
                                <div class="quickview-btn-cart">
                                    {% csrf_token %}
                                    <a href="javascript:document.getElementById('add-to-cart-form-modal').submit();"><i
                                            class="ion-bag"></i> Add to cart</a>
                                    <noscript>
                                        <input type="submit" value="ADD TO CART" />
                                    </noscript>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- modal -->
{% for product in latest_products %}
<div class="modal fade" id="product{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="ion-android-close" aria-hidden="true"></span>
    </button>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="qwick-view-left">
                    <div class="quick-view-learg-img">
                        <div class="quick-view-tab-content tab-content">
                            {% for image in product.album.images.all %}
                            {% if forloop.counter == 1 %}
                            <div class="tab-pane active show fade" id="modal{{forloop.counter}}" role="tabpanel">
                                <img style="width:320;height:380;" src="/{{product.album.default.image }}" alt="">
                            </div>
                            {% else %}
                            <div class="tab-pane fade" id="modal{{forloop.counter}}" role="tabpanel">
                                <img style="width:320;height:380;" src="/{{ image.image }}" alt="">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="quick-view-list nav" role="tablist">
                        {% for image in product.album.images.all %}
                        {% if forloop.counter == 1 %}
                        <a class="active" href="#modal{{forloop.counter}}" data-toggle="tab" role="tab"
                            aria-selected="true" aria-controls="home1">
                            <img style="width:100;height:100;" src="/{{ product.album.default.image }}" alt="">
                        </a>
                        {% else %}
                        <a href="#modal{{forloop.counter}}" data-toggle="tab" role="tab" aria-selected="false"
                            aria-controls="home2">
                            <img style="width:100;height:100;" src="/{{ image.image }}" alt="">
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="qwick-view-right">
                    <div class="qwick-view-content">
                        <h3>{{product.title}}</h3>
                        <div class="price">
                            <span class="new">$90.00</span>
                            <span class="old">{{product.price}} </span>
                        </div>
                        <div class="rating-number">
                            <div class="quick-view-rating">
                                <i class="ion-ios-star red-star"></i>
                                <i class="ion-ios-star red-star"></i>
                                <i class="ion-android-star-outline"></i>
                                <i class="ion-android-star-outline"></i>
                                <i class="ion-android-star-outline"></i>
                            </div>
                            <div class="quick-view-number">
                                <span>2 Ratting (S)</span>
                            </div>
                        </div>
                        <p>{{product.desc}}</p>
                        <form id="add-to-cart-form-modal" action="{% url "cart:cart_add" product.id %}" method="post">
                            <div class="quickview-plus-minus">
                                <div class="cart-plus-minus">
                                    {{cart_add_form}}
                                </div>
                                <div class="quickview-btn-cart">
                                    {% csrf_token %}
                                    <a href="javascript:document.getElementById('add-to-cart-form-modal').submit();"><i
                                            class="ion-bag"></i> Add to cart</a>
                                    <noscript>
                                        <input type="submit" value="ADD TO CART" />
                                    </noscript>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock modal %}